---

---
<div class="w-80 bg-white rounded-3xl">
    <header class="relative">
        <p class="absolute top-3 left-3 bg-stone-900 text-white px-2 rounded-md"><i class="fa-solid fa-location-dot"></i> Direccion</p>
        <img class="rounded-t-3xl" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/CamionFermont.png/1024px-CamionFermont.png" alt="Imagen X">
    </header>
    <div class="p-4">
        <ul>
            <li><i class="fa-solid fa-map-location-dot"></i> Av.Honorio Delgado N°320 Urb. Semirústica, El Bosque, Trujillo</li>
            <li><i class="fa-solid fa-phone"></i> 914817239</li>
            <li><i class="fa-solid fa-house"></i> Tienda de Repuestos y Laboratorio Diesel</li>
        </ul>
        <div class="flex flex-row gap-3 text-xl pt-2">
            <button class="flex-1 py-0.5 border border-stone-900 hover:bg-stone-900 hover:text-white rounded-xl">Llamar</button>
            <button class="flex-1 py-0.5 border border-stone-900 hover:bg-stone-900 hover:text-white rounded-xl">Mapa</button>
        </div>
    </div>
</div>
