---

---
<article class="w-80 bg-white rounded-3xl">
    <header class="relative">
        <p class="absolute top-3 left-3 bg-stone-900 text-white px-2 rounded-md"><i class="fa-solid fa-location-dot"></i> Direccion</p>
        <img class="rounded-t-3xl" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/CamionFermont.png/1024px-CamionFermont.png" alt="Imagen X">
    </header>
    <div class="p-4">
        <!-- Antes lo tenía como ul pero lo cambie a div por el grid -->
        <ul class="grid grid-cols-10">
            <li><i class="fa-solid fa-map-location-dot"></i></li>
            <p class="col-span-9"> Av.Honorio Delgado N°320 Urb. Semirústica, El Bosque, Trujillo</p>
            <li><i class="fa-solid fa-phone"></i></li>
            <p class="col-span-9">914817239</p>
            <li><i class="fa-solid fa-house"></i></li>
            <p class="col-span-9">Tienda de Repuestos y Laboratorio Diesel</p>
        </ul>
        <div class="flex flex-row gap-3 text-xl pt-2">
            <button class="flex-1 py-0.5 border border-stone-900 hover:bg-stone-900 hover:text-white rounded-xl">Llamar</button>
            <button class="flex-1 py-0.5 border border-stone-900 hover:bg-stone-900 hover:text-white rounded-xl">Mapa</button>
        </div>
    </div>
</article>
