<footer class="bg-stone-900 flex flex-row sm:px-16 px-8 sm:py-4 py-3 justify-between items-center">
    <div class="flex lg:flex-row flex-col text-white mr-2">
        <p >
            <strong>¿Tienes más de 2 unidades, o eres empresa?</strong>
        </p>
        <p class="lg:ml-2 ml-0" >
            Visita nuestro canal empresa <i class="fa-solid fa-arrow-right"></i>
        </p>
    </div>
  <button class="bg-white border hover:border-white hover:border-2 hover:bg-stone-900 hover:text-white 
  sm:px-14 rounded-md px-4 sm:h-8 h-14 flex flex-row items-center gap-x-2">
    Canal <i class="fa-solid fa-chevron-right"></i>
  </button>
</footer>
