<footer class="bg-stone-900 flex flex-row px-16 py-6 justify-between">
    <p class="text-white"><b>¿Tienes más de 2 unidades, o eres empresa?</b>, Visita nuestro canal empresa <i class="fa-solid fa-arrow-right"></i></p>
    <button class="bg-white px-14 rounded-md">
        Canal <i class="fa-solid fa-chevron-right"></i>
    </button>
</footer>