---
import { Image } from "astro:assets";
import taller from "../images/taller.png";
---

<section class="my-10">
  <h1 class="font-bold text-4xl text-center">
    Agenda una revisión <hr /> en nuestro laboratorio
  </h1>
  <div class="flex flex-row justify-center my-6">
    <!-- <div class="bg-white rounded-l-2xl sm:visible invisible">
            <Image class="rounded-2xl" src={taller} alt="Taller" />
        </div> -->
    <form
      class="flex flex-col bg-white w-96 p-10 sm:rounded-r-2xl sm:mx-0 rounded-2xl mx-8"
    >
      <label class="text-gray-400 pl-2 text-lg font-light" for="fname"
        >Nombre</label
      >
      <input
        required
        class=" border border-gray-400 p-2 rounded-xl mb-3"
        type="text"
        id="fname"
        name="fname"
      />
      <label class="text-gray-400 pl-2 text-lg font-light" for="femail"
        >Correo</label
      >
      <input
        required
        class="border border-gray-400 p-2 rounded-xl mb-3"
        type="text"
        id="femail"
        name="femail"
      />
      <label class="text-gray-400 pl-2 text-lg font-light" for="fcellphone"
        >Celular</label
      >
      <input
        required
        class="border border-gray-400 p-2 rounded-xl mb-3"
        type="text"
        id="fcellphone"
        name="fcellphone"
      />
      <div class="flex flex-col items-center">
        <input
          class="bg-stone-900 text-white border hover:border-black hover:bg-white hover:text-black  w-full py-1 rounded-full text-2xl font-semibold flex justify-center items-center"
          type="submit"
          value="Registrarse"
        />
        <div class="flex flex-row bg-gray-300 sm:px-8 px-3 rounded-b-lg items-center ">
          <i class="fa-solid fa-stopwatch"></i><p class="pl-2">
            Válido durante <b>15:00</b>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
