---
import { Image } from "astro:assets";
import logo from '../images/logo.png'
import {
Astronav,
MenuItems,
MenuIcon,
Dropdown,
DropdownItems,
DropdownSubmenu,
} from "astro-navbar";

---
<!-- <nav class="flex flex-row justify-between px-10 pt-8">
    <ul>
            <li><Image class="w-32" src={logo} alt="Logo de Medina"/></li>
    </ul>
    <ul class="flex flex-row items-center">
        <li class="py-2 px-12 rounded-md">Locales</li>  
        <li class="py-2 px-12 rounded-md">Servicios</li>
        <li class="py-2 px-12 rounded-md">Repuestos</li>
        <li class="py-2 px-12 rounded-md bg-white">Blog</li>
    </ul>
</nav> -->

<header class="lg:flex justify-between p-5 gap-5 ">
    <Astronav closeOnClick>
       <div class="flex w-full lg:w-auto justify-between">
          <a><Image class="w-32" src={logo} alt="Logo de Medina"/></a>
          <div class="block lg:hidden">
             <MenuIcon class="w-4 h-4 text-gray-800" />
          </div>
       </div>
       <MenuItems class="hidden lg:flex">
          <ul class="flex flex-col lg:flex-row gap-x-2 text-center items-center">
             <li class="w-32 py-2 rounded-md    hover:bg-white">
                <a href="#locals">Locales</a>
             </li>
             <li class="w-32 py-2 rounded-md    hover:bg-white">
                <a href="#services">Servicios</a>
             </li>
             <li class="w-32 py-2 rounded-md    hover:bg-white">
                <a href="#spareParts">Repuestos</a>
             </li>
             <li class="w-32 py-2 rounded-md bg-white hover:bg-white">
                <a href="#blogs">Blogs</a>
             </li>
          </ul>
       </MenuItems>
    </Astronav>
 </header>