---
import SubOption from '../components/SubOption.astro'
---
<section class="flex flex-col items-center pt-8">
    <h1 class="font-bold text-4xl text-center">El repuesto que estás buscando <hr> en un solo lugar</h1>
    <div class="grid grid-cols-4 gap-4 py-6">
        <SubOption image="Imagen" text='Turbos'/>
        <SubOption image="Imagen" text='Toberas'/>
        <SubOption image="Imagen" text='Filtros'/>
        <SubOption image="Imagen" text='Inyectores'/>
        <SubOption image="Imagen" text='Bombas'/>
        <SubOption image="Imagen" text='Válvulas'/>
        <SubOption image="Imagen" text='Cabezales'/>
        <SubOption image="Imagen" text='Actuadores'/>
        <SubOption image="Imagen" text='Elementos'/>
    </div>
</section>