---
import SubOption from '../components/SubOption.astro'
---
<section class="flex flex-col items-center pt-12 px-2">
    <h1 id="spareParts" class="font-bold text-4xl text-center">El repuesto que estás buscando <hr> en un solo lugar</h1>
    <div class="flex flex-wrap lg:w-[50rem] md:w-[40rem] justify-center gap-4 py-6 last:flex-1">
        <SubOption text='Turbos'/>
        <SubOption text='Toberas'/>
        <SubOption text='Filtros'/>
        <SubOption text='Inyectores'/>
        <SubOption text='Bombas'/>
        <SubOption text='Válvulas'/>
        <SubOption text='Cabezales'/>
        <SubOption text='Actuadores'/>
        <SubOption text='Elementos'/>
    </div>
</section>
