---
import SubOption from '../components/SubOption.astro'
---
<section class="flex flex-col items-center pt-8">
    <h1 class="font-bold text-4xl text-center">El repuesto que estás buscando <hr> en un solo lugar</h1>
    <div class="grid md:grid-cols-3 grid-cols-2 gap-4 py-6">
        <SubOption text='Turbos'/>
        <SubOption text='Toberas'/>
        <SubOption text='Filtros'/>
        <SubOption text='Inyectores'/>
        <SubOption text='Bombas'/>
        <SubOption text='Válvulas'/>
        <SubOption text='Cabezales'/>
        <SubOption text='Actuadores'/>
        <SubOption text='Elementos'/>
    </div>
</section>