---
import Card from '../components/Card.astro'
---

<section class="flex flex-col items-center py-16">
    <h1 class="font-bold text-4xl text-center">Encuentra el centro especializado <hr> y oficial más cercano</h1>
    <div class="grid grid-cols-3 gap-4 pt-6">
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
    </div>
</section>