---
import Card from '../components/Card.astro'
---

<section class="flex flex-col items-center py-16">
    <h2 id="locals" class="font-bold text-4xl text-center">Encuentra el centro especializado <hr> y oficial más cercano</h2 id="locals">
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-x-8 lg:gap-y-6  gap-4 pt-6">
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
    </div>
</section>