---
import { Image } from "astro:assets";
import taller1 from "../images/taller/taller1.jpg";
import taller2 from "../images/taller/taller2.jpg";
import taller3 from "../images/taller/taller3.jpg";
---

<main class="flex lg:flex-row flex-col p-8 justify-center items-center gap-x-4">
    <div class="sm:flex-1 flex flex-col text-center justify-center content-center items-center">
        <h1 id="blog" class="sm:font-semibold font-bold sm:text-4xl text-4xl">
            <strong class="text-red-500">Expertos</strong> en reparación de Inyectores Electrónicos y Bombas de Inyección Diesel
        </h1>
        <p class="sm:text-xl text-xs my-4">
            Con una trayectoria destacada en el sector, ofrecemos soluciones avanzadas para la reparación de inyectores electrónicos y bombas de inyección diésel, asegurando el <strong>máximo rendimiento y eficiencia</strong> de tu flota o vehículo
        </p>
    </div>
    <div class="sm:flex-1 flex justify-center">
        <div class="relative text-white">
            <Image class="rounded-2xl aspect-square w-[30rem] " src={taller3} alt="Taller" />
            
            <button class="absolute inset-y-0 left-4 text-4xl "><i class="fa-solid fa-chevron-left"></i></button>
            <button class="absolute inset-y-0 right-4 text-4xl "><i class="fa-solid fa-chevron-right"></i></button>
            
            <button disabled class="absolute inset-x-0 bottom-2 text-xs"><div class="space-x-2"><i class="fa-solid fa-circle"></i><i class="fa-solid fa-circle"></i><i class="fa-solid fa-circle"></i></div> </button>
        
        </div>
    </div>
</main>