---
import { Image } from "astro:assets";
import taller from "../images/taller.png";
---

<header class="flex lg:flex-row flex-col p-8 justify-center items-center gap-x-4">
    <div class="sm:flex-1 flex flex-col text-center justify-center content-center items-center">
        <h1 id="blog" class="sm:font-semibold font-bold sm:text-4xl text-4xl">
            <strong class="text-red-500">Expertos</strong> en reparación de Inyectores Electrónicos y Bombas de Inyección Diesel
        </h1>
        <p class="sm:text-xl text-xs">
            Con una trayectoria destacada en el sector, ofrecemos soluciones avanzadas para la reparación de inyectores electrónicos y bombas de inyección diésel, asegurando el <strong>máximo rendimiento y eficiencia</strong> de tu flota o vehículo
        </p>
    </div>
    <div class="sm:flex-1 flex justify-center">
        <!-- <img class="rounded-xl mx-4 p-4 sm:mx-0 sm:rounded-md sm:p-0" src="https://images.pexels.com/photos/20189629/pexels-photo-20189629/free-photo-of-amor-verano-mesa-hoja.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
        <Image class="rounded-2xl" src={taller} alt="Taller" />
    </div>
</header>