<footer class="flex justify-center items-center bg-[#38C6BD] sm:h-20 h-32 m-4 rounded-3xl">
    <ul class="grid sm:grid-cols-6 grid-cols-3 md:gap-x-20 gap-x-16 gap-y-4 justify-center text-white text-4xl text-center ">
        <li ><i class="hover:text-5xl fa-brands fa-facebook"></i></li>
        <li ><i class="hover:text-5xl fa-brands fa-instagram"></i></li>
        <li ><i class="hover:text-5xl fa-brands fa-linkedin"></i></li>
        <li ><i class="hover:text-5xl fa-brands fa-tiktok"></i></li>
        <li ><i class="hover:text-5xl fa-brands fa-youtube"></i></li>
        <li ><i class="hover:text-5xl fa-brands fa-whatsapp"></i></li>
    </ul>
</footer>