<footer class="bg-[#38C6BD] m-4 rounded-3xl">
    <ul class="flex flex-row justify-center space-x-20 py-8 text-white text-4xl">
        <li><i class="fa-brands fa-facebook"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-tiktok"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><i class="fa-brands fa-whatsapp"></i></li>
    </ul>
</footer>