---
import SubService from '../components/SubService.astro'
---

<section class="flex flex-col items-center pt-12">
    <h1 id="services" class="font-bold text-4xl text-center">Nuestros servicios</h1>
    <div class="grid sm:grid-cols-2 grid-cols-1 sm:mx-0 gap-x-8 gap-y-3 py-6 px-8">
        <SubService number='1'/>
        <SubService number='2'/>
        <SubService number='3'/>
        <SubService number='4'/>
        <SubService number='5'/>
        <SubService number='6'/>
    </div>
</section>