---
interface Props {
    image? : string;
    text? : string;
}
const {image, text} = Astro.props
---
<article class="sm:w-56 sm:h-36 w-36 h-32 rounded-3xl bg-white hover:bg-stone-900 hover:text-white 
flex flex-col justify-center items-center shadow-md shadow-stone-900 ">
    <i class="fa-solid fa-wrench text-5xl  pb-4"></i>
    <p class="text-xl">{text}</p>
</article>